@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-violet-50: #efeeff;
  --blue-violet-100: #e2e0ff;
  --blue-violet-200: #cac7fe;
  --blue-violet-300: #aaa5fc;
  --blue-violet-400: #8881f8;
  --blue-violet-500: #6b63f1;
  --blue-violet-600: #4f46e5;
  --blue-violet-700: #4038ca;
  --blue-violet-800: #3730a3;
  --blue-violet-900: #332e81;
  --blue-violet-950: #1e1b4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  --figma-color-text: white;
}

p,
span {
  @apply text-black dark:text-white;
}

.calculate-button,
.cancel-button {
  font-size: 1.125rem;
}

.calculate-button {
  background-color: var(--blue-violet-600);
}

.cancel-button {
  background-color: red;
}

.radio-group-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 0.875rem;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.calculate-button,
.radio-group-label {
  width: 100%;
  border-radius: 0.75rem;
  padding: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.container {
  text-align: center;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #4f46e5;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #4f46e5;
}

.truncateBox {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.truncateBox > label {
  width: 90%;
  text-align: left;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

button {
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}

.buttonContainer > button {
  flex: 1;
}

.runButton {
  background-color: #4f46e5;
}

.closeButton {
  background-color: red;
}

.clearButton {
  background-color: rgb(204, 32, 32);
}

#errors {
  color: red;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #f3f4f6;
  font-weight: bold;
}

thead td {
  font-size: 1rem;
}

tbody td {
  font-size: 0.9rem;
}

tr:nth-child(even) {
  background-color: #f9fafb;
}

/* Head Styles */
thead {
  background-color: #e5e7eb;
}

/* Table Row Styles */
tbody tr:nth-child(odd) {
  background-color: #f3f4f6;
}

/* Header Cell Styles */
th {
  font-weight: 600;
  color: #1f2937;
}

/* Odd Row Styles */
tbody tr:nth-child(odd) {
  background-color: #f9fafb;
}
